* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  // height: 100vh;
  main {
    background: url("../media/bg-filler.png");
    background-position: center;
    position: relative;
    padding: 16px;
    @media (min-width: 640px) {
      padding: 100px 50px;
    }
    .bg-container {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      left: 0;
      top: 0;
      display: flex;
      flex-direction: column;
      .background {
        width: 100%;
      }
      .persons {
        position: absolute;
        right: 0;
        top: 0;
      }
      .filler {
        flex: 1;
        height: 100%;
        width: 100%;
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }
    .container {
      width: 100%;
      max-width: 1440px;
      margin: 0 auto;
      .cards-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media (min-width: 640px) {
          flex-direction: row;
          > img {
            order: 2 !important;
            max-width: 33% !important;
          }
        }
        gap: 16px;
        // justify-content: space-between;
        > img {
          flex: 1;
          order: 0;
          height: fit-content;
          max-width: 100%;
        }
        ul {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
          gap: 16px;
          .card {
            position: relative;
            button {
              position: absolute;
              opacity: 0;
              // z-index: 2;
              cursor: pointer;
              bottom: 5%;
              width: 80%;
              left: 10%;
              height: 15%;
            }
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
.active {
  opacity: 1 !important;
  pointer-events: all !important;
  .payment-options{
    scale: 1 !important;
  }
}
.payment-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  .payment-options {
    min-width: 320px;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 16px;
    transition: all 0.15s ease-in-out;
    scale: 0;
    border-radius: 2px;
    overflow: hidden;
    background-color: white;
    @media screen and (min-width: 768px) {
      width: 400px;
    }
    h2 {
      font-size: 20px;
      font-weight: bold;
      color: white;
      margin-bottom: 8px;
      padding: 16px;
    }
    .payment-header {
      background-color: #812990;
    }
    .options {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 16px;
      padding-top: 0;
      .option {
        display: flex;
        gap: 8px;
        align-items: center;
        label {
          display: flex;
          align-items: center;
          gap: 4px;
          img {
            max-height: 40px;
          }
          span {
            font-size: 16px;
          }
        }
      }
    }
    #closePayment{
      position: absolute;
      top: 5px;
      right: 5px;
      cursor: pointer;
      color: white;
    }
  }
}
