* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body main {
  background: url("../media/bg-filler.png");
  background-position: center;
  position: relative;
  padding: 16px;
}
@media (min-width: 640px) {
  body main {
    padding: 100px 50px;
  }
}
body main .bg-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
}
body main .bg-container .background {
  width: 100%;
}
body main .bg-container .persons {
  position: absolute;
  right: 0;
  top: 0;
}
body main .bg-container .filler {
  flex: 1;
  height: 100%;
  width: 100%;
}
body main .bg-container .filler img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
body main .container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
body main .container .cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
body main .container .cards-container > img {
  flex: 1;
  order: 0;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 100%;
}
@media (min-width: 640px) {
  body main .container .cards-container {
    flex-direction: row;
  }
  body main .container .cards-container > img {
    order: 2 !important;
    max-width: 33% !important;
  }
}
body main .container .cards-container .cards-imgs-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
body main .container .cards-container .cards-imgs-wrapper .title-imgs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}
@media (max-width: 639px) {
  body main .container .cards-container .cards-imgs-wrapper .title-imgs img:nth-child(1) {
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    background-color: rgba(255, 255, 255, 0.7);
    padding: 14px;
  }
}
@media (min-width: 640px) {
  body main .container .cards-container .cards-imgs-wrapper .title-imgs img:nth-child(1) {
    width: 33%;
  }
  body main .container .cards-container .cards-imgs-wrapper .title-imgs img:nth-child(2) {
    width: 67%;
  }
}
body main .container .cards-container .cards-imgs-wrapper .title-imgs img {
  flex: 1;
  max-width: 100%;
}
@media (min-width: 640px) {
  body main .container .cards-container .cards-imgs-wrapper .title-imgs {
    flex-direction: row;
  }
}
body main .container .cards-container .cards-imgs-wrapper ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
}
body main .container .cards-container .cards-imgs-wrapper ul .card {
  position: relative;
}
body main .container .cards-container .cards-imgs-wrapper ul .card button {
  position: absolute;
  cursor: pointer;
  bottom: 5.2%;
  width: 80%;
  background-color: transparent;
  left: 10%;
  height: 15%;
  border: 0;
  border-radius: 100px;
}
body main .container .cards-container .cards-imgs-wrapper ul .card button .btn-bg {
  position: absolute;
  width: 90%;
  height: 80%;
  left: 5%;
  top: 10%;
  background-color: transparent;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}
body main .container .cards-container .cards-imgs-wrapper ul .card button span:nth-child(2) {
  opacity: 0;
}
body main .container .cards-container .cards-imgs-wrapper ul .card button:hover .btn-bg {
  box-shadow: 0 0 10px 5px rgba(217, 0, 255, 0.231372549);
  background-color: rgba(212, 0, 255, 0.231372549);
}
body main .container .cards-container .cards-imgs-wrapper ul .card img {
  width: 100%;
}
body .active {
  opacity: 1 !important;
  pointer-events: all !important;
}
body .active .payment-options {
  scale: 1 !important;
}
body .payment-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
  top: 0;
  left: 0;
  padding: 16px 10px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
}
body .payment-wrapper .payment-options {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all 0.15s ease-in-out;
  scale: 0;
  border-radius: 2px;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  background-color: white;
}
@media screen and (min-width: 768px) {
  body .payment-wrapper .payment-options {
    width: 400px;
  }
}
body .payment-wrapper .payment-options h2 {
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-bottom: 8px;
}
body .payment-wrapper .payment-options .payment-header {
  background-color: #812990;
  padding: 16px;
}
body .payment-wrapper .payment-options #closePayment {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  color: white;
}
body .payment-wrapper .payment-options .payment-body {
  display: flex;
  color: #383838;
  font-weight: 600;
  flex-direction: column;
  position: relative;
  gap: 16px;
  padding: 16px;
  width: 100%;
}
body .payment-wrapper .payment-options .payment-body .input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
body .payment-wrapper .payment-options .payment-body .input-wrapper > div input {
  margin-top: 4px;
  border-radius: 8px;
  width: 100%;
  padding: 12px;
  border: 1px solid #812990;
}
body .payment-wrapper .payment-options .payment-body .options > h4 {
  font-size: 20px;
}
body .payment-wrapper .payment-options .payment-body .options .option {
  display: flex;
  font-weight: 400;
  gap: 8px;
  align-items: center;
}
body .payment-wrapper .payment-options .payment-body .options .option label {
  display: flex;
  align-items: center;
  gap: 4px;
}
body .payment-wrapper .payment-options .payment-body .options .option label img {
  max-height: 40px;
}
body .payment-wrapper .payment-options .payment-body .options .option label span {
  font-size: 16px;
}
body .payment-wrapper .payment-options .payment-body .apply-now-button {
  background-color: #812990;
  color: white;
  border: none;
  padding: 12px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
}
body .payment-wrapper .payment-options .payment-body .apply-now-button:hover {
  opacity: 0.9;
  box-shadow: 0 0 5px 2px rgba(217, 0, 255, 0.231372549);
}
body.no-scrolling {
  height: 100vh;
  overflow: hidden;
}/*# sourceMappingURL=style.css.map */